Flask==3.0.0
flask-cors==4.0.0
streamlit==1.33.0
beautifulsoup4==4.12.3
nltk==3.8.1
requests==2.31.0
googletrans==4.0.0-rc1
gTTS==2.5.1
fastapi
uvicorn[standard]
lxml==5.1.0
networkx
scikit-learn
